# تجاهل مكتبات البرمجة (لأن الاستضافة ستحملها وحدها)
node_modules/

# تجاهل ملفات النظام
.DS_Store
Thumbs.db

# تجاهل ملفات النتائج الشخصية (اختياري إذا أردت إبقاء حساباتك سرية)
accounts.txt

# تجاهل ملفات الإعدادات السرية
.env